body{
    background: rgb(216, 216, 216);
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
    display: grid;
}


/* nav */

nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3rem;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
    width: 100%;
}

nav > a{
    align-self: center;
    padding: 0 0 0 2rem;
    justify-self: start;
}

nav > ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-items: right;
    list-style: none;
    padding: 0 2rem 0 0;
}

nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav > ul > li > a{
    padding: 0 1rem;
    border-radius: 3px;
    transition: all .3s;
}

nav > ul > li > a:hover{
    background: rgba(31, 15, 253, 0.507);
}

/* end nav */


/* footer */


footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: end;
    align-items: center;
    color: rgba(199, 199, 252, 0.979);
    background: rgb(40, 3, 59);
    padding: 1rem 4rem;
}

footer h5{
    margin: 0;
}

footer > div > a{
    color: rgba(199, 199, 252, 0.979);
    text-decoration: none;
    padding: .5rem;
    transition: all .5s;
    border-radius: 3px;
}

footer > div > a:hover{
    color: rgba(245, 245, 245, 0.979);
    background: rgb(129, 2, 123);
}

footer > div{
    grid-column: 1/3;
    justify-self: start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
}


/* end footer */



/* media queries */

@media screen and (max-width: 700px){

    /* Nav */

    nav{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        background: transparent;      
    }

    nav > a{
        display: none;
    }

    nav > ul{
        margin: 0;
        padding: 2rem;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
        left: -700px;
        transition: all 1s;
        grid-template-columns: 1fr;
        justify-items: center;
        width: 50%;
    }
    
    /* Menu button */
    
    .HB{
        font-size: 5px;
        width: 10em;
        height: 10em;
        background: rgb(20, 83, 220);
        border-radius: 25%;
        display: grid;
        justify-content: center;
        cursor: pointer;
        justify-self: end;
        grid-column: 1 / 2;
        margin: 1rem;
    }
    
    .HB > span{
        width: 7em;
        height: 1em;
        background: white;
    }
    
    .HB > span:nth-child(1){
        align-self: end;
        transition: all 0.5s;
    }
    
    .HB > span:nth-child(2){
        align-self: center;
        transition: all 0.5s ;
    }
    
    .HB > span:nth-child(3){
        align-self: start;
        transition: all 0.5s;
    }
    
    .AHB > span:nth-child(1){
        rotate: -45deg;
        translate: 0 210%;
    }
    
    .AHB > span:nth-child(2){
        opacity: 0;
    }
    
    .AHB > span:nth-child(3){
        rotate: 45deg;
        translate: 0 -210%;
        
        
    }
    
    
    /* End menu button */

    /* End nav */





    /* footer */

    footer{
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 1rem;

    }

    footer > div{
        justify-self: center;
    }

    /* end footer */

}

/* end media queries */